.page-content{
    height: 100%;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar{
    display: flex;
    justify-content: flex-end;
}

.nav-bar-item{
    margin-right: 18px;
}

#navbar-sign-in-button{
    width: 96px;
    min-width: 80px;
    height: 36px;
}

#navbar-icon-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

#navbar-icon-link:hover{
    background-color: #e9ecef;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

#navbar-icon{
    width: 20px;
    height: 20px;
    opacity: 80%;
}

.navbar-link-item{
    color: black;
}

.navbar-link-item:link {
    text-decoration: none;
}

.navbar-link-item:hover{
    color: black;
    text-decoration: underline;
}

.main-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: auto;
}

.search-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    
}

.search-bar{
    display: flex;
    flex-direction: row;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    z-index: 3;
    
    height: 44px;
    min-width: 482px;
    max-width: 584px;
    width: inherit;

    margin: 2rem;
}

.search-bar:hover{
    box-shadow: 0 0 0 lightgray, 0 3px 3px lightgray
}

.search-bar-items{
    display: flex;
    width: inherit;
    justify-content: space-between;
    align-items: center;
}

#search-icon img{
    width: 20px;
    height: 20px;
    opacity: 80%;
}

#search-icon{
    padding-left: 1rem;
    padding-right: 10px;
    cursor: pointer;
}

.search-text{
    width: inherit;
}

.search-text-input{
    width: 100%;
    border-width:0px;
    border:none;
}

input:focus{
    outline: none;
}

#search-microphone img{
    width: 12px;
    height: 20px;
}

#search-microphone{
    padding-left: 10px;
    padding-right: 1rem;
    cursor: pointer;
}

.search-buttons button{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    color: #3c4043;
    
    border-radius: 4px;
    height: 36px;
    min-width: 54px;
    padding: 0 16px;
    margin: 0 4px;
}

.search-buttons button:hover{
    box-shadow: 1px 1px 1px lightgray, 1px 3px 3px lightgray
}

.search-footer{
    margin-top: 1rem;
}
.search-footer a{
    margin-left: 0.5rem;
    color: #1a0dab;
    text-decoration: none;
}

.search-footer a:hover{
    text-decoration: underline;
}

#google-footer{
    color: #70757a;
    background-color: rgb(242, 242, 242);
    margin-top: auto;
}

.location-div{
    padding-top: 0.5rem;
    margin-left: 2rem;
}

#left-footer-links{
    margin-bottom: 0.5rem;
}

#left-footer-links a{
    color: #70757a;
}

#left-footer-links a:link{
    text-decoration: none;
}

#left-footer-links a:hover{
    text-decoration: none;
    color: #70757a;
    text-decoration: underline;
}

#right-footer-links{
    margin-bottom: 0.5rem;
}

#right-footer-links a{
    color: #70757a;
}

#right-footer-links a:link{
    text-decoration: none;
}

#right-footer-links a:hover{
    text-decoration: none;
    color: #70757a;
    text-decoration: underline;
}

#hr-footer{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#footer-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#left-footer-links a{
    margin-left: 2rem;
}

#right-footer-links a{
    margin-right: 2rem;
}

@media only screen and (max-width: 1200px) {
    #footer-links{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
  }

@media only screen and (max-width: 800px) {
    #footer-links{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
  }