.navbar{
    display: flex;
    justify-content: flex-end;
    
}

.nav-bar-item{
    margin-right: 18px;
}

#navbar-sign-in-button{
    width: 96px;
    min-width: 80px;
    height: 36px;
}

#navbar-icon-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

#navbar-icon-link:hover{
    background-color: #e9ecef;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

#navbar-icon{
    width: 20px;
    height: 20px;
    opacity: 80%;
}

.navbar-link-item{
    color: black;
}

.navbar-link-item:link {
    text-decoration: none;
}

.navbar-link-item:hover{
    color: black;
    text-decoration: underline;
}

.main-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: visible;
    height: 100%;
}

#search-icon img{
    width: 20px;
    height: 20px;
}

#search-microphone img{
    width: 22px;
    height: 22px;
}

#google-footer{
    color: #70757a;
    background-color: rgb(242, 242, 242);;
}

.location-div{
    padding-top: 0.5rem;
    margin-left: 2rem;
}

#left-footer-links{
    margin-bottom: 0.5rem;
}

#left-footer-links a{
    color: #70757a;
}

#left-footer-links a:link{
    text-decoration: none;
}

#left-footer-links a:hover{
    text-decoration: none;
    color: #70757a;
    text-decoration: underline;
}

#right-footer-links{
    margin-bottom: 0.5rem;
}

#right-footer-links a{
    color: #70757a;
}

#right-footer-links a:link{
    text-decoration: none;
}

#right-footer-links a:hover{
    text-decoration: none;
    color: #70757a;
    text-decoration: underline;
}

#hr-footer{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#footer-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#left-footer-links a{
    margin-left: 2rem;
}

#right-footer-links a{
    margin-right: 2rem;
}


@media only screen and (max-width: 800px) {
    #footer-links{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
  }